Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
PointerBindsToType: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
ReflowComments: true
